// :local(.box) {}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: 'Merriweather', monospace;
  font-weight: lighter;
  text-align: center;
}

div {
  border: 2px solid yellowgreen;
  height: 400px;
  width: 80%;
}
