// :local(.box) {}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Merriweather';
  font-weight: lighter;
  text-align: center;
}

div {
  border: 2px solid yellowgreen;
  height: 400px;
  width: 600px;
}
