// :local(.box) {}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: 'PT serif';
  font-weight: lighter;
}

#drawingArea {
  width: 600px;
  height: 400px;
  border: 2px solid yellowgreen;
}
